<div class="login-container">
  <h2>Login</h2>
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input 
        type="email" 
        id="email" 
        formControlName="email" 
        class="form-control">
      <div *ngIf="submitted && loginForm.get('email')?.errors" class="error-message">
        <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</span>
        <span *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email</span>
      </div>
    </div>
    
    <div class="form-group">
      <label for="password">Password</label>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        class="form-control">
      <div *ngIf="submitted && loginForm.get('password')?.errors" class="error-message">
        <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</span>
      </div>
    </div>
    
    <button type="submit" class="button submit">Login</button>
    
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <div class="form-footer">
      <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
    </div>
  </form>

</div>